<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="M2C China Data Center">
        <meta name="author" content="yusonglam@gmail.com">
        <link rel="shortcut icon" href="/img/favicon.png">

        <title>{{ META_TITLE }}</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
        <link href="/css/bootstrap/css/bootstrap-overrides.css" type="text/css" rel="stylesheet">

        <!-- global styles -->
        <link rel="stylesheet" type="text/css" href="/css/theme/layout.css">
        <link rel="stylesheet" type="text/css" href="/css/theme/elements.css">
        <link rel="stylesheet" type="text/css" href="/css/theme/icons.css">

        <!-- libraries -->
        <link href="/css/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->