    <!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li>                
                <a href="/">
                    <i class="icon-home"></i>
                    <span>Home</span>
                </a>
            </li>            
            <li>
                <a href="/radar">
                    <div class="pointer">
                        <div class="arrow"></div>
                        <div class="arrow_border"></div>
                    </div>
                    <i class="icon-signal"></i>
                    <span>Products</span>
                </a>
            </li>
<!--             <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-th-large"></i>
                    <span>Tables</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="#">Custom tables</a></li>
                    <li><a href="#" >DataTables</a></li>
                </ul>
            </li>            
            <li>
                <a href="#">
                    <i class="icon-signal"></i>
                    <span>Charts</span>
                </a>
            </li> -->
        </ul>
    </div>
    <!-- end sidebar -->